In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [2]:
from myfunctions import *

In [4]:
zip_data = ZipFileManager('Fashion DataSet.zip')
zip_data.unzip_and_count()

File Extracted Successfully
.jpg : 88882
.csv : 2

In [5]:
import os
from collections import defaultdict

def count_file_types(folder):
    file_types = defaultdict(int)
    for file in os.listdir(folder):
        file_path = os.path.join(folder, file)
        if os.path.isfile(file_path):
            ext = os.path.splitext(file)[-1].lower().lstrip('.')
            file_types[ext] += 1
    return file_types

def list_folders(directory, indent=0):
    for item in os.listdir(directory):
        if item =='venv':
            continue
        path = os.path.join(directory, item)
        if os.path.isdir(path):
            print("  " * indent + f"ðŸ“‚ {item}")
            file_counts = count_file_types(path)
            if file_counts:
                file_counts_str = ", ".join(f"{count} {ext}" for ext, count in file_counts.items())
                print("  " * (indent + 1) + f"ðŸ“„ {file_counts_str}")
            list_folders(path, indent + 1)

if __name__ == "__main__":
    current_directory = os.getcwd()
    print(f"Root: {current_directory}")
    list_folders(current_directory)

Root: d:\OneDrive - iitgn.ac.in\Desktop\Projects\TrendVision-AI-mini-Image-Text-Based-Fashion-Search-Engine
ðŸ“‚ .git
  ðŸ“„ 5
  ðŸ“‚ hooks
    ðŸ“„ 14 sample
  ðŸ“‚ info
    ðŸ“„ 1
  ðŸ“‚ logs
    ðŸ“„ 1
    ðŸ“‚ refs
      ðŸ“‚ heads
        ðŸ“„ 1
      ðŸ“‚ remotes
        ðŸ“‚ origin
          ðŸ“„ 1
  ðŸ“‚ objects
    ðŸ“‚ info
    ðŸ“‚ pack
      ðŸ“„ 1 idx, 1 pack, 1 rev
  ðŸ“‚ refs
    ðŸ“‚ heads
      ðŸ“„ 1
    ðŸ“‚ remotes
      ðŸ“‚ origin
        ðŸ“„ 1
    ðŸ“‚ tags
ðŸ“‚ extracted
  ðŸ“„ 1 csv
  ðŸ“‚ images
    ðŸ“„ 44441 jpg
  ðŸ“‚ myntradataset
    ðŸ“„ 1 csv
    ðŸ“‚ images
      ðŸ“„ 44441 jpg
ðŸ“‚ __pycache__
  ðŸ“„ 1 pyc

In [3]:
df = pd.read_csv("extracted/myntradataset/styles.csv")
df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44446 entries, 0 to 44445
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  44446 non-null  int64
 1   gender              44446 non-null  object
 2   masterCategory      44446 non-null  object
 3   subCategory         44446 non-null  object
 4   articleType         44446 non-null  object
 5   baseColour          44431 non-null  object
 6   season              44425 non-null  object
 7   year                44445 non-null  float64
 8   usage               44129 non-null  object
 9   productDisplayName  44439 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 3.4+ MB

In [6]:
df_sorted = df.sort_values(by='id', ascending=True).reset_index(drop=True)
df_sorted.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,1163,Men,Apparel,Topwear,Tshirts,Blue,Summer,2011.0,Sports,Nike Sahara Team India Fanwear Round Neck Jersey
1,1164,Men,Apparel,Topwear,Tshirts,Blue,Winter,2015.0,Sports,Nike Men Blue T20 Indian Cricket Jersey
2,1165,Men,Apparel,Topwear,Tshirts,Blue,Summer,2013.0,Sports,Nike Mean Team India Cricket Jersey
3,1525,Unisex,Accessories,Bags,Backpacks,Navy Blue,Fall,2010.0,Casual,Puma Deck Navy Blue Backpack
4,1526,Unisex,Accessories,Bags,Backpacks,Black,Fall,2010.0,Sports,Puma Big Cat Backpack Black

In [7]:
df_sorted

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,1163,Men,Apparel,Topwear,Tshirts,Blue,Summer,2011.0,Sports,Nike Sahara Team India Fanwear Round Neck Jersey
1,1164,Men,Apparel,Topwear,Tshirts,Blue,Winter,2015.0,Sports,Nike Men Blue T20 Indian Cricket Jersey
2,1165,Men,Apparel,Topwear,Tshirts,Blue,Summer,2013.0,Sports,Nike Mean Team India Cricket Jersey
3,1525,Unisex,Accessories,Bags,Backpacks,Navy Blue,Fall,2010.0,Casual,Puma Deck Navy Blue Backpack
4,1526,Unisex,Accessories,Bags,Backpacks,Black,Fall,2010.0,Sports,Puma Big Cat Backpack Black
...,...,...,...,...,...,...,...,...,...,...
44441,59995,Women,Apparel,Dress,Dresses,Black,Fall,2012.0,Party,Avirate Black Dress
44442,59996,Women,Apparel,Dress,Dresses,Purple,Summer,2014.0,Casual,Avirate Black & Purple Dress
44443,59998,Women,Footwear,Shoes,Heels,Multi,Winter,2015.0,Casual,Catwalk Women Multi Coloured Heels
44444,59999,Women,Footwear,Shoes,Heels,Bronze,Winter,2015.0,Casual,Catwalk Women Bronze Wedges
44445,60000,Women,Apparel,Topwear,Kurtas,Blue,Fall,2012.0,Ethnic,Alma Women Blue Kurta

In [9]:
df_sorted.to_csv('extracted/myntradataset/styles.csv', index=False)